body {
    padding-top: 10px;
    font-family: Arial, Helvetica, SansSerif;
    background-color:#F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
    color: #337ab7;
}

hr {
    background-color:#337ab7;
    height: 1px;
}

div.header {
    font-weight: bold;
}

div.header span.caption {
    color:#337ab7;
}

div.header div.centered-button {
    padding-top:5px;
    padding-bottom:15px;
}

div.header div.centered-text {
    padding-top:10px;
    padding-bottom:15px;
}

div.header hr {
    border:none;
    height: 1px;
    margin: 0;
}

div.footer {
    padding: 0 5% 0 5%;
    position: fixed;
    bottom: 0;
    left:0;
    margin:0 0 0 0;
    padding-bottom: 5px;
    width:100%;
    background-color:#F2F2F2;;
}

div.footer a {
    width: 100%;
    margin: 0 0 5px 0;
}

div.footer button {
    width: 100%;
    margin: 0 0 5px 0;
}

div.service ul {
    list-style: none;
    padding:0;
}

div.header img.brand {
    height: auto;
    margin: 0 auto;
}

div.review p.speech-bubble {
    padding: 5%;
    font-family: Arial, Helvetica, SansSerif;
    font-style: italic;
    text-align: center;
    border: 2px solid #337ab7;
    background-color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

div.review span.speech-arrow {
    width: 0;
    height: 0;
    border: 13px solid;
    border-color: #337ab7 transparent transparent transparent;
}

div.review p.name {
    font-family: Arial, Helvetica, SansSerif;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 5%;
}

div.review div.left {
    width:100%;
    padding-right: 25%;
}

div.review div.right {
    width:100%;
    padding-left: 25%;
}

div.titleDiv h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.home {
    padding-bottom: 25%;
}

div.service img.img-24-7 {
    width:100%;
    height:auto;
}

div.deal img {
    width:100%;
    height:auto;
}