body {
    padding-top: 20px;
    font-family: Arial, Helvetica, SansSerif;
}

div.contactHeader span.caption {
    font-weight: bold;
    color:blue;
}

div.contactHeader div.centered {
    padding-top:10px;
    padding-bottom:10px;
}

div.contactHeader span.info {

}

div.header hr {
    border:none;
    height: 5px;
    background-color:blue;
}