body {
    padding-top: 10px;
    font-family: Arial, Helvetica, SansSerif;
    background-color:#F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
    color: #337ab7;
}

hr {
    background-color:#337ab7;
    height: 1px;
}

i {
    padding-top: 3px;
}

strong {
    color:#337ab7;
}

.toast-success {
    background-color: #337ab7;
}

#toast-container > div {
    opacity: 1;
}

div.footer {
    width:100%;
}

div.footer a {
    width: 100%;
    margin-bottom: 5px;
}

div.footer button {
    width: 100%;
    margin-bottom: 5px;
}



















